.dice-roll {

  .dice-formula {
    display: none;
  }

  .dice-result {
    position: relative;
    overflow: hidden;

    .dice-tooltip {
      display: none !important;
    }

    &:has(.expanded) {

      .dice-tooltip {
        display: flex !important;
        flex-wrap: wrap;
        height: fit-content !important;
        flex-direction: column;
      }

      .dice-total {
        display: none !important;
      }

      .dice-formula {
        display: block,
      }
    }
  }
}
